body{
    font-family: Roboto,sans-serif;
    margin:0px;
}


.section-one{
    background-color: #1F2937;
    color: white;
    padding:8px;
    display:flex;
    flex-flow:column nowrap;
}


.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    padding: 0px 200px;

}

.header p{
    font-size:24px;
    color:#F9FAF8;
}

ul{
    list-style-type:none;
    display:flex;
    gap:8px;
    font-size:18px;
    color:#E5E7EB
}
